*{
    margin: 0%;
    padding: 0%;
    background-color:black;
    color: white;
}
.header{
    display: flex;
    justify-content: space-between;
    padding: 0.8rem;
}
.adi{
    display: flex;
    align-items: start;
}
i{
    margin: 0 0.8rem;
}
.profileinfo img{
    height: 4rem;
    border-radius: 50%;
}
.profileinfo{
    display: flex;
    padding: 0.8rem;
}
.profileinfo .profile{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    /* display: grid;
    grid-template-columns: repeat(3,1fr);
    margin-left: 3rem; */
}
.profile .stats{
    margin: 1rem;
    text-align: center;
}

.bio{
    padding: 0.8rem;
}
.bio h4{
    margin: 0.2rem;
    color: gray;
}

.highlights div img{
    height: 5rem;
    width: 4rem;
    padding: 0.8rem;
    border-radius: 50%;
    border: 2px dotted wheat;
}
.highlights div{
    margin: 0.5rem;
}
.highlights div h4{
    text-align: center;
}
.highlights{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
.posts img{
    /* height: 10rem;
    width: 7rem;
    margin: 0.3rem; */
    height: 100%;
    width: 100%;
    object-fit: cover;
    
}
.posts{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin-top: 1rem;
    grid-gap: 0.2rem;
    /* display: flex;
    flex-wrap: wrap;
    padding: 0.8rem; */
}