body{
    margin-top: 8rem;
}
.main{
    display: flex;
    justify-content: center;
    margin-top: 8rem;
}
.main h1{
    margin-top: 7rem;
}
#right{
    margin: 1rem;
}
#form button{
    width: 6rem;
    height: 2rem;
    border-radius: 20px;
    font-size: 1.5rem;
    border: none;
    background-color: burlywood;
}
#left{
    margin: 1rem;
}

#p img{
    height: 2rem;
}
#edit{
    height:2rem;
} 

.del{
    height: 1rem;
}